<% content_for :title do %>About<% end %>
<h3>About the Website</h3>
<p>
This web application was created with
<%= link_to('Rails 4.2.3', 'http://featurebox.github.io/rails-composer/') %>
from the <%= link_to('FeatureBox project', 'http://featurebox.github.io/') %>.
</p>
